        <div class = "question-frame">
          <a href = "base.html">
            <img class = "avatar" src = "/static/img/avatar.jpg">
          </a>
          <a href="{{ question.get_url }}">
            <h3 style = "margin-top: 0px; text-align: center;"> {{ question.title }}</h3>
          </a>
          <p class = "question-text">{{ question.text}} </p>
          

          <div class="panel-body" style = "clear: left;  margin-left: -13px">
            <div class = "col-sm-3"> 
              <span>
                  <span class = "btn btn-default btn-like glyphicon glyphicon-hand-up"></span>
                  <span><a href="#">{{ question.likes }}</a></span>
                  <span class = "btn btn-default glyphicon glyphicon-hand-down"></span>
              </span>
            </div>
            <div class=" col-sm-3">
                <a href="{{ question.get_url }}">Answer ({{question.get_answers|length}})</a>
            </div>
            <div class=" col-sm-6">
                Tags:
                  {% for tag in question.tags.all %}
                    <a href="{{ tag.get_url }}">{{tag.title}} </a>
                  {% endfor%}
            </div>
          </div>
        </div>