
        <h3>Log In</h3>
{#        <div class = "col-sm-2"></div>#}
        {% for e in form.non_field_errors %}
            <div class="alert alert-danger">{{ e }}</div>
        {% endfor %}
        <form class="form-horizontal" method="POST">
        {% csrf_token %}
            {% for f in form.visible_fields %}
                <div class="form-group">
                <label class="control-label col-sm-2" style="text-align: left"> {{f.label}} </label>
                <div class="col-sm-4">
                    {{ f }}
{#                <input type="email" class="form-control"  style = "max-width: 250px">#}
                </div>
            <!-- <label class = "email-correct">&#10003;</label> -->
{#            {% if  email_correct %}#}
{#             <label class="control-label col-sm-1 email-correct" >  &#10003;</label>#}
{#            {% else %}#}
{#              <label class="control-label col-sm-1 email-incorrect" >  &#10007;</label>#}
{#            {% endif %}#}
                 </div>
            {%  endfor %}

{#          <div class="form-group">#}
{#            <label class="control-label col-sm-2" for="pwd" style = "text-align: left">Password:</label>#}
{#            <div class="col-sm-4"> #}
{#              <input type="password" class="form-control" id="pwd" placeholder="Enter password" style="max-width: 250px;">#}
{#            </div>#}
{#            {% if  pwd_correct %}#}
{#             <label class="control-label col-sm-1 email-correct" >  &#10003;</label>#}
{#            {% else %}#}
{#              <label class="control-label col-sm-1 email-incorrect" >  &#10007;</label>#}
{#            {% endif %}#}
{#          </div>#}
{#          <div class="form-group"> #}
{#            <div class="col-sm-offset-2 col-sm-10">#}
{#              <div class="checkbox">#}
{#                <label><input type="checkbox"> Remember me</label>#}
{#               </div>#}
{#            </div>#}
{#          </div>#}

          <div class="form-actions">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-succes" style = "width:  120px">Log in</button>
            </div>
          </div>
        </form>
