{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span>

                        {{ recipient.user.last_name }} {{ recipient.user.first_name }}

{#                    <div class="btn-group pull-right">#}
{#                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">#}
{#                            <span class="glyphicon glyphicon-chevron-down"></span>#}
{#                        </a>#}
{#                    </div>#}
                </div>
            <div class="panel-collapse" id="collapseOne">
                <div class="panel-body" style="overflow-y: scroll; height: 500px" id = "myChat">
                
                    <ul class="chat">

                        {% for message in messages %}
                            {% if message.author.user == user %}
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="col-md-offset-4 col-md-8">
                                        <div class="header">
                                            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{ message.created_time|date:'Y-m-d H:i' }}</small>
                                            <strong class="pull-right primary-font"> {{ message.author.user.username }}</strong>
                                        </div>
                                        <p style="font-size: 16px; color: #0f0f0f">
                                            {{ message.text }}
                                        </p>
                                        </div>
                                    </div>
                                </li>
                            {% else %}
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="col-md-8">
                                <div class="header">
                                    <strong class="primary-font">{{ message.author.user.username }}</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>{{ message.created_time|date:'Y-m-d H:i' }}</small>
                                </div>
                                <p style="font-size: 16px; color: #0f0f0f">
                                    {{ message.text }}
                                </p>
                                </div>
                            </div>
                        </li>
                            {% endif %}
                        {% endfor %}
{#                        <li class="left clearfix"><span class="chat-img pull-left">#}
{#                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />#}
{#                        </span>#}
{#                            <div class="chat-body clearfix">#}
{#                                <div class="header">#}
{#                                    <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">#}
{#                                        <span class="glyphicon glyphicon-time"></span>14 mins ago</small>#}
{#                                </div>#}
{#                                <p>#}
{#                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare#}
{#                                    dolor, quis ullamcorper ligula sodales.#}
{#                                </p>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="right clearfix"><span class="chat-img pull-right">#}
{#                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />#}
{#                        </span>#}
{#                            <div class="chat-body clearfix">#}
{#                                <div class="header">#}
{#                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>#}
{#                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>#}
{#                                </div>#}
{#                                <p>#}
{#                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare#}
{#                                    dolor, quis ullamcorper ligula sodales.#}
{#                                </p>#}
{#                            </div>#}
{#                        </li>#}
                    </ul>
                </div>
                <div class="panel-footer">
                    <form class="form-vertical" method="POST">
                        {% csrf_token %}
                            <div class="form-group">
                                {{ form.visible_fields.0 }}
                            </div>

                        <div class="form-actions">
                            <button class="btn btn-warning btn-sm" id="btn-chat">Send</button>

                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script>$("#myChat").scrollTop($("#myChat")[0].scrollHeight);</script>
{% endblock %}
